
# Google Calendar Credentials
# Get these from Google Cloud Console -> Service Accounts
GOOGLE_CLIENT_EMAIL="your-service-account@project.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_CALENDAR_ID="your-calendar-id@group.calendar.google.com"

# Email Configuration (for Nodemailer)
EMAIL_USER="santgodev@gmail.com"
EMAIL_PASS="sppr pybt yauy arti"
# EMAIL_FROM is optional if using EMAIL_USER
